@model IEnumerable<TestingSystem.Models.User>

@{
    ViewBag.Title = "UpdateAccount";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;
    bool check = false;
    bool checkUrl = false;
}

<section class="content-header">
    <h1>
        Cập nhật tài khoản trong nhóm
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Group")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Details", "Group", new { id = @ViewBag.IdGroup})"><i class="fa fa-dashboard"></i> Details</a></li>
        <li><a href="@Url.Action("UpdateAccount", "Group", new { id = @ViewBag.IdGroup})"><i class="fa fa-dashboard"></i> Update User in Group</a></li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        @using (Html.BeginForm("UpdateAccount", "Group", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6" style="margin-bottom:15px">
                    <div class="input-group">
                        <input type="hidden" name="id" value="@ViewBag.IdGroup" />
                        <input type="text" class="form-control" value="@ViewBag.SearchString" name="SearchString" placeholder="User Name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Tìm kiếm</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <div class="col-md-6">
                    <a href="/Admin/User/Create">
                        <div class="btn btn-success">Thêm mới</div>
                    </a>

                </div>
            </div>
        }
        <!-- form start -->
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Roles.RoleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>Status</th>
                <th></th>
            </tr>

            @foreach (var item in @ViewBag.ListUser)
            {
                <tr>
                    <td>
                        @item.Roles.RoleName
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Address
                    </td>

                    <td>
                        @if (ViewBag.CountListGroup > 0)
                        {
                            checkUrl = true;
                            foreach (var obj in ViewBag.ListUserGroup)
                            {
                                if (item.UserId == obj.UserId)
                                {
                                    check = true;
                                    <img src="~/Content/add.png" alt="Sample Image" width="20px" />
                                    break;
                                }
                                else
                                {
                                    i++;
                                }
                                if (i >= ViewBag.CountListGroup)
                                {
                                    <img src="~/Content/remove.png" width="20px" />
                                    i = 0;
                                    check = false;
                                    break;
                                }
                            }
                            i = 0;
                        }
                        else
                        {
                            <img src="~/Content/remove.png" width="20px" />
                        }
                    </td>
                    <td>
                        @if (check == true && ViewBag.CountListGroup > 0)
                        {
                            @Html.ActionLink("Remove", "RemoveAccount", "Group", new { idUser = item.UserId, idGroup = ViewBag.IdGroup }, null)
                            check = false;
                        }
                        else if (check == false && ViewBag.CountListGroup > 0)
                        {
                            @Html.ActionLink("Add", "AddAccount", "Group", new { idUser = item.UserId, idGroup = ViewBag.IdGroup }, null)
                            check = true;
                        }
                        else
                        {
                            @Html.ActionLink("Add", "AddAccount", "Group", new { idUser = item.UserId, idGroup = ViewBag.IdGroup }, null)
                        }
                    </td>
                </tr>
            }

        </table>

    </div><!-- /.box -->
    <a href="@Url.Action("Details", "Group", new { id = ViewBag.IdGroup})"><button class="btn btn-success">Trở lại</button></a>
</section>