
@using TestingSystem.Models
@model IEnumerable<TestingSystem.Models.Test>

@{
	ViewBag.Title = "Update Exam Paper";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
	int i = 0;
	bool check = false;
	bool checkUrl = false;
	int count = 0;
	int stt = 0;
}
<style>
	.nhleft {
		margin-left: 10px;
	}

	#form-delete {
		padding-bottom: 42px;
	}

	.btnaddmultiple {
		margin-left: 19px;
	}
</style>
<section class="content-header">
	<h4>
		Update @ViewBag.ExamName
	</h4>
	<ol class="breadcrumb">
		<li><a href="@Url.Action("Index", "Exams")"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="@Url.Action("Edit", "Exams", new { id = @ViewBag.examID})"><i class="fa fa-dashboard"></i> Edit</a></li>
		<li><a href="@Url.Action("UpdateTest", "Exams", new { id = @ViewBag.examID})"><i class="fa fa-dashboard"></i> Update Exam</a></li>
	</ol>
</section>

<section class="content">
	<div class="box box-info">
		<p></p>
		@using (Html.BeginForm("UpdateTest", "Exams", FormMethod.Post))
		{
			<div class="row nhleft">
				<div class="col-md-6" style="margin-bottom: 15px">
					<div class="input-group">
						<input type="hidden" name="id" value="@ViewBag.examID" />
						<input type="text" class="form-control" value="@ViewBag.SearchString" name="keySearch" placeholder="Key search">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Tìm kiếm</button>
						</span>
					</div><!-- /input-group -->
				</div>
				@*<div class="col-md-6">
					<a href='@Url.Action("UpdateCandidates", "CandidatatesTest")' onclick="return confirm('Are you sure you want to delete this exam paper?');">
						<div class="btn  btn-sm btn-danger"><i class="fa fa-trash"></i></div>
					</a>

				</div>*@
			</div>
		}
		<!-- form start -->
		<form action="@Url.Action("_AddOrDeleteMultiTestInExams", "Exams")" id="form-delete" method="post">
			<input type="hidden" name="examID" value="@ViewBag.examID" />
			<table class="table nhleft">
				<tr>
					<td width="5%"><input name="all" id="checkall" type="checkbox" onchange="Check(this)" /></td>
					<th width="7%">Number</th>
					<th>
						@Html.DisplayNameFor(model => model.TestName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.PassingScore)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.StartDate)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.CreatedBy)
					</th>
					<th>Status</th>
					<th>Action</th>
				</tr>

				@foreach (Test item in @ViewBag.listTestActive)
				{
					stt++;
					<tr>
						<td><input type="checkbox" id="checkone" name="ids" value="@item.TestID" onchange="changee(this);" /></td>
						<td>@stt</td>

						<td>
							@item.TestName
						</td>
						<td>
							@item.PassingScore
						</td>
						<td>
							@item.StartDate
						</td>
						@foreach (User user in ViewBag.listUser)
						{
							count++;
							if (item.CreatedBy == user.UserId)
							{
								<td>@user.Name</td>
								count = 0;
								break;
							}
							if (@count >= ViewBag.countUser)
							{
								<td>Know Name</td>
								count = 0;
							}

						}
						<td>
							@if (ViewBag.CountTestInExam > 0)
							{
								checkUrl = true;
								foreach (Test obj in @ViewBag.listTestByExamID)
								{
									if (item.TestID == obj.TestID)
									{
										check = true;
										<img src="~/Content/add.png" alt="Sample Image" width="20px" />
										break;
									}
									else
									{
										i++;
									}
									if (i >= ViewBag.CountTestInExam)
									{
										<img src="~/Content/remove.png" width="20px" />
										i = 0;
										check = false;
										break;

									}
								}
								i = 0;
							}
							else
							{
								<img src="~/Content/remove.png" width="20px" />
							}
						</td>
						<td>
							@if (check == true && ViewBag.CountTestInExam > 0)
							{
								@*@Html.ActionLink("Remove", "RemoveTestInExams", "Exams", new { ids = item.TestID, examID = ViewBag.examID }, null)*@
								<a href="@Url.Action( "RemoveTestInExams", "Exams",  new { ids = item.TestID, examID = ViewBag.examID }, null)" class="btn btn-google" onclick="return confirm('Are you sure you want to delete this test?');"><i class="glyphicon glyphicon-trash"></i></a>
								check = false;
							}
							else if (check == false && ViewBag.CountTestInExam > 0)
							{
								@*@Html.ActionLink("Add", "AddTestInExams", "Exams", new { examID = ViewBag.examID, testID = item.TestID }, null)*@
								<a href="@Url.Action( "AddTestInExams", "Exams", new { examID = ViewBag.examID, testID = item.TestID }, null)" class="btn btn-github " onclick="return confirm('Are you sure you want to add this test?');"><i class="glyphicon glyphicon-plus"></i></a>
								check = true;
							}
							else
							{
								@*@Html.ActionLink("Add", "AddTestInExams", "Exams", new { examID = ViewBag.examID, testID = item.TestID }, null)*@
								<a href="@Url.Action( "AddTestInExams", "Exams", new { examID = ViewBag.examID, testID = item.TestID }, null)" class="btn btn-github " onclick="return confirm('Are you sure you want to add this test?');"><i class="glyphicon glyphicon-plus"></i></a>

								check = true;
							}
						</td>
					</tr>
				}

			</table>
			<a onclick="return confirm('Are you sure you want to add multiple tests ?');">
				<button type="submit" class="btn btn-success btnaddmultiple" id="btn-delete" name="addMultipleTest" value="submit1" disabled>Add Multiple Test</button>
			</a>
			<a onclick="return confirm('Are you sure you want to delete multiple tests ?');">
				<button type="submit" class="btn btn-danger" id="btn-delete1" name="deleteMultipleTest" value="submit2" disabled>Delete Multiple Test</button>
			</a>
			@*<a href="@Url.Action("Edit", "Exams", new { id = ViewBag.examID})"><button class="btn btn-github ">Back</button></a>*@
			<a href="@Url.Action("Edit", "Exams", new { id = ViewBag.examID})" class="btn btn-github">Back</a>
		</form>
	</div><!-- /.box -->

</section>
<script language="JavaScript">
	function Check(source) {
		checkboxes = document.getElementsByName('ids');
		for (var i = 0, n = checkboxes.length; i < n; i++) {
			checkboxes[i].checked = source.checked;
		}
		if (source.checked == true) {
			document.getElementById("btn-delete").disabled = false;
			document.getElementById("btn-delete1").disabled = false;
		} else {
			document.getElementById("btn-delete").disabled = true;
			document.getElementById("btn-delete1").disabled = true;
		}

	}

	function changee(id) {
		var j = 0;
		checkboxes = document.getElementsByName('ids');
		for (var i = 0, n = checkboxes.length; i < n; i++) {
			if (checkboxes[i].checked == true)
				j = 1;
		}
		if (j == 1) {
			document.getElementById("btn-delete").disabled = false;
			document.getElementById("btn-delete1").disabled = false;
		}
		else {
			document.getElementById("btn-delete").disabled = true;
			document.getElementById("btn-delete1").disabled = true;
		}
	}
	function reload() {
		window.location.href = "Exams/UpdateTest/@ViewBag.examID ";
	}

</script>
