
@using TestingSystem.Models
@model TestingSystem.Models.Test
@{
	ViewBag.Title = "Edit Test";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
	int stt = 0;
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@*<link href="~/Scripts/DatetimePicker/css/gijgo.min.css" rel="stylesheet" />*@
<link href="~/Scripts/DatetimePicker/css/gijgo.min.css" rel="stylesheet" />
<style>
	.gj-icon {
		position: absolute;
		left: 191px;
		margin-top: 5px;
	}

	#StartDate, #EndDate {
		margin-right: 0;
		width: 220px;
		position: relative;
		border: 1px solid #cccccc;
	}

	#Description {
		height: 200px;
		width: 776px;
	}

	.mydate {
		font-size: 14px;
		font-family: inherit;
		padding-left: 11px;
	}

	#passScore {
		width: 222px;
	}
</style>
<section class="content-header">
	<h4>
		Edit Test
	</h4>
	<ol class="breadcrumb">
		<li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Edit Test</li>
	</ol>
</section>
<section class="content">
	<div class="box box-info">
		<div class="box-header with-border">
			<h3 class="box-title">Edit New Test</h3>
		</div><!-- /.box-header -->
		<!-- form start -->
		<form class="form-horizontal" novalidate role="form" action="@Url.Action("Edit", "Test", new { area = "Admin" })" method="post">
			@Html.AntiForgeryToken()
			<div class="box-body">
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<input type="hidden" value="@Model.TestID" name="TestID" />
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Test Name</label>
					<div class="col-sm-6">
						<input type="text" value="@Model.TestName" id="TestName" name="TestName" class="form-control" onchange="CategoryCheckCreate()" />
						@Html.ValidationMessageFor(model => model.TestName, "", new { @class = "text-danger" })
					</div>
					<span id="Status"></span>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Exam Paper</label>
					<div class="col-sm-6">
						@Html.DropDownListFor(model => model.ExamPaperID, null, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Start Date</label>
					<div class="col-sm-6">
						<input name="StartDate" id="StartDate" class="form-control mydate" value="@Model.StartDate.ToString("MM/dd/yyyy")" />
						@Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">End Date</label>
					<div class="col-sm-6">
						<input name="EndDate" id="EndDate" class="form-control mydate" value="@Model.EndDate.ToString("MM/dd/yyyy")" />
						@Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Pass Score</label>
					<div class="col-sm-2">
						<input name="PassingScore" id="passScore" type="number" class="form-control" value="@Model.PassingScore" />
						@Html.ValidationMessageFor(model => model.PassingScore, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-6">
						<textarea name="Description" id="Description">@Model.Description</textarea>
						@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Is Active</label>
					<div class="col-md-10 ">
						<div class="checkbox" style="margin-left:20px">
							@Html.EditorFor(model => model.IsActive)
							@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Status</label>
					<div class="col-md-10 ">
						<div class="checkbox" style="margin-left:20px">
							@Html.EditorFor(model => model.Status)
							@Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
			</div><!-- /.box-body -->
			<div class="box-footer">
				<a href="@Url.Action("Index","Exams")" class="btn-cancel">Cancel</a>
				<button type="submit" class="btn btn-success pull-right" id="btnsub2">Save</button>
			</div><!-- /.box-footer -->
		</form>
	</div><!-- /.box -->
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="clearfix"></div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				@*@using (Html.BeginForm("Index", "Exams", FormMethod.Post))
					{
						<div class="row">
							<div class="col-md-6" style="margin-bottom:15px">
								<div class="input-group">
									<input type="text" class="form-control" value="" name="KeySearch" placeholder="Key Search">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Search</button>
									</span>
								</div>
							</div>
							<div class="col-md-6">*@
				<button class="btn btn-sm btn-success">
					@Html.ActionLink("Update Candidates", "UpdateCandidates", "CandidatatesTest", new { id = Model.TestID }, new { @style = "color: white;" })
				</button>
				<p></p>
				@*</div>
						</div>
					}*@
				<form action="@Url.Action("DeleteCandidatesFromTest", "CandidatatesTest")" id="form-delete" method="post">
					<input type="hidden" name="testID" value="@Model.TestID"/>
					<table id="example2" class="table table-bordered table-hover">
						<thead>
						<tr>
							<td width="5%"><input name="all" id="checkall" type="checkbox" onchange="Check(this)"/></td>
							<th width="7%">Number</th>
							<th>Name</th>
							<th>Email</th>
						</tr>
						</thead>
						<tbody>
						@foreach (Candidate item in ViewBag.listCandidatesByTestID)
						{
							stt++;
							<tr>
								<td><input type="checkbox" id="checkone" name="ids" value="@item.CandidateID" onchange="changee(this);"/></td>
								<td>@stt</td>
								<td>
									@item.Users.Name
								</td>
								<td>@item.Users.Email</td>
								<td>
									<a href='@Url.Action("DeleteCandidatesFromTest", "CandidatatesTest", new {ids = @item.CandidateID, testID = @Model.TestID})' onclick="return confirm('Are you sure you want to delete this candidate?');">
										<div class="btn  btn-sm btn-danger"><i class="fa fa-trash"></i></div>
									</a>
								</td>
							</tr>
						}
						</tbody>
					</table>
					<a onclick="return confirm('Are you sure you want to delete multiple candidatea?');">
						<button type="submit" class="btn btn-danger" id="btn-delete" disabled>Delete</button>
					</a>
				</form>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
	<!-- /.row -->
</section>
<script src="~/Scripts/Question/ckeditor/ckeditor.js"></script>
<script>
	$(document).ready(function () {
		CKEDITOR.replace('Content');
	});
</script>
<script language="JavaScript">
    function checkstatus(id) {
        if (id.checked == true)
            id.value = true;
        else
            id.value = false;
    }
    function CategoryCheckCreate() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("_CheckExamsAvailableCreate", "Test")",
	        {
                userdata: $("#TestName").val()
	        },
	        function (data) {
                if ($("#TestName").val() == "") {
			        $("#Name-error").css("display", "none");
		        }
		        if (data == 0) {
			        $("#Status").html('<font color="Green">Available !. you can take it.</font>');
                    $("#TestName").css("border-color", "Green");
			        $("#btnsub2").css("display", "block");
		        }
		        else {
			        $("#Status").html('<font color="Red">Test Exists!</font>');
                    $("#TestName").css("border-color", "Red");
			        $("#btnsub2").css("display", "none");
		        }
	        });
    }
</script>
<script src="~/Scripts/DatetimePicker/JS/gijgo.min.js"></script>
<script>
	//
	$('#StartDate').datepicker({
		uiLibrary: 'bootstrap3'
	});
	$('#EndDate').datepicker({
		uiLibrary: 'bootstrap3'
	});
</script>

@*<script src="~/Scripts/DatetimePicker/JS/gijgo.min.js"></script>*@
@*<script>
		//
		$('#StartDate').datepicker({
			uiLibrary: 'bootstrap3'
		});
		$('#EndDate').datepicker({
			uiLibrary: 'bootstrap3'
		});
	</script>*@
@*<script src="~/Scripts/Question/ckeditor/ckeditor.js"></script>
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
@*<script>
		$(document).ready(function () {
			CKEDITOR.replace('Description');
		});
	</script>*@
<script language="JavaScript">
	function Check(source) {
		checkboxes = document.getElementsByName('ids');
		for (var i = 0, n = checkboxes.length; i < n; i++) {
			checkboxes[i].checked = source.checked;
		}
		if (source.checked == true)
			document.getElementById("btn-delete").disabled = false;
		else
			document.getElementById("btn-delete").disabled = true;
	}

	function changee(id) {
		var j = 0;
		checkboxes = document.getElementsByName('ids');
		for (var i = 0, n = checkboxes.length; i < n; i++) {
			if (checkboxes[i].checked == true)
				j = 1;
		}
		if (j == 1) {
			document.getElementById("btn-delete").disabled = false;
		}
		else {
			document.getElementById("btn-delete").disabled = true;
		}
	}
	function reload() {
		window.location.href = "Exams/Edit/@Model.TestID"
	}

</script>
