@model TestingSystem.Models.ExamPaper

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ExamPaper</h4>
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Status)
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfQuestion)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExamPaperID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
